.navbar {
  padding: 1rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-link {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: rgb(252, 248, 248);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

.nav-link:hover {
  background-color: #0056b3;
}

.nav-button {
  padding: 0.5rem 1rem;
  background-color: #0e9e78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
}

.nav-button:hover {
  background-color: #0056b3;
}

.nav-logo {
  margin-right: 2rem;
}

.logo-image {
  height: 120px;
  width: auto;
} 
